{% extends 'main/layout.html' %}

{% block content %}

<div class="input-url">
    <h3>Введи ссылку:</h3>
    <form action="." method="post">
        {% csrf_token %}

        <input class="form-control" type="text" name="url">

        <button type="submit" class="btn btn-warning">Сократить</button>
    </form>
    <div class="last-urls">
        <h2>Последние сокращенные ссылки</h2>
        <ul>
            {% for x in urls %}
            <li><a href="{% url 'url_page' x.id %}">{{x.short_url}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
